.navbar {
    background: #000000;
    border-bottom: none;
    .links {
        background: #000000;
        a.nav-link {
            color: #ffffff;
        }
    }
    .site-name {
        color: #ffffff;
    }
}
.sidebar-button {
    color: #ffffff;
}
p {
    text-align: justify;
}
p img {
    display: block;
    margin: auto;
}