.navbar {
    background: #14507A;
    border-bottom: none;
    .links {
        background: #14507A;
        a.nav-link {
            color: #ffffff;
        }
    }
    .site-name {
        color: #ffffff;
        font-family: 'Pacifico', cursive;
        font-size: 1.4em;
    }
}
a.dropdown-title {
    color: #ffffff;
    span:hover {
        color: #ffffff;
    }
}
.sidebar-button {
    color: #ffffff;
}
p {
    text-align: justify;
}
p img {
    display: block;
    margin: auto;
}
.dropdown-wrapper .nav-dropdown .dropdown-item a {
    color: #3eaf7c;
}
.custom {
    hr {
        display: none;
    }
}
h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: 'Roboto', Sans Serif;
}